In [1]:
import numpy as np
import pandas as pd

In [2]:
books=pd.read_csv('Books.csv')
ratings=pd.read_csv('Ratings.csv')
users=pd.read_csv('Users.csv')

C:\Users\anant\AppData\Local\Temp\ipykernel_10308\775865190.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv('Books.csv')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books['Image-URL-M'] = books['Image-URL-M'].str.replace('http', 'https')
books['Image-URL-L'] = books['Image-URL-L'].str.replace('http', 'https')
books['Image-URL-S'] = books['Image-URL-S'].str.replace('http', 'https')

In [5]:
ratings.head(20)

    User-ID        ISBN  Book-Rating
0    276725  034545104X            0
1    276726  0155061224            5
2    276727  0446520802            0
3    276729  052165615X            3
4    276729  0521795028            6
5    276733  2080674722            0
6    276736  3257224281            8
7    276737  0600570967            6
8    276744  038550120X            7
9    276745   342310538           10
10   276746  0425115801            0
11   276746  0449006522            0
12   276746  0553561618            0
13   276746  055356451X            0
14   276746  0786013990            0
15   276746  0786014512            0
16   276747  0060517794            9
17   276747  0451192001            0
18   276747  0609801279            0
19   276747  0671537458            9

In [6]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [7]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 8)
(278858, 3)
(1149780, 3)

In [8]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [9]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [10]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [11]:
books.duplicated().sum()

0

In [12]:
users.duplicated().sum()

0

In [13]:
ratings.duplicated().sum()

0

In [14]:
# matplotlib.pyplot as plt
#import seaborn as sns

In [15]:
ratings_with_name=ratings.merge(books,on='ISBN')

In [16]:
num_rating=ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating.rename(columns={'Book-Rating':'num-of-rating'},inplace=True)
num_rating

                                               Book-Title  num-of-rating
0        A Light in the Storm: The Civil War Diary of ...              4
1                                   Always Have Popsicles              1
2                    Apple Magic (The Collector's series)              1
3        Ask Lily (Young Women of Faith: Lily Series, ...              1
4        Beyond IBM: Leadership Marketing and Finance ...              1
...                                                   ...            ...
241066                                      Ã?Â?lpiraten.              2
241067                     Ã?Â?rger mit Produkt X. Roman.              4
241068                                Ã?Â?sterlich leben.              1
241069                              Ã?Â?stlich der Berge.              3
241070                                  Ã?Â?thique en toc              2

[241071 rows x 2 columns]

In [17]:
avg_rating=ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating.rename(columns={'Book-Rating':'avg-rating'},inplace=True)
avg_rating.sample(10)

C:\Users\anant\AppData\Local\Temp\ipykernel_10308\4269590953.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_rating=ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()

                                               Book-Title  avg-rating
116908     Marry Me Kate (Silhouette Special ed, No 9868)        0.00
201078                                    The Owl Service        4.40
219111  Time Out Book of Paris Short Stories (Time Out...        0.00
233425  Where to Start and What to Ask: An Assessment ...        1.75
96408   Jewish Literacy: The Most Important Things to ...       10.00
187695                              The Fires of Midnight        0.00
31893                                     Casa de Munecas        0.00
7167                                 A Twinkle In His Eye       10.00
113062  Luke'S Promise (Tall, Dark--And Married!) (Sil...        0.00
188961  The Ghost Who Wanted to Be a Star (Tripper and...        0.00

In [18]:
popular=num_rating.merge(avg_rating,on='Book-Title')
popular

,Book-Title,num-of-rating,avg-rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [19]:
popular=popular[popular['num-of-rating']>=250].sort_values('avg-rating',ascending=False).head(50)
popular

,Book-Title,num-of-rating,avg-rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
191612,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
187377,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
211384,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
219741,To Kill a Mockingbird,510,4.700000
183573,The Da Vinci Code,898,4.642539
187880,The Five People You Meet in Heaven,430,4.551163
180556,The Catcher in the Rye,449,4.545657
196326,The Lovely Bones: A Novel,1295,4.468726
764,1984,284,4.454225
144165,Prodigal Summer: A Novel,253,4.450593
128670,Neverwhere,265,4.449057
206502,The Secret Life of Bees,774,4.447028
168719,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
223135,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970
204387,The Red Tent (Bestselling Backlist),723,4.334716
191589,The Hitchhiker's Guide to the Galaxy,268,4.328358
129379,Nickel and Dimed: On (Not) Getting By in America,335,4.289552
93381,Into the Wild,252,4.273810
63867,Fahrenheit 451,409,4.264059
74750,Girl with a Pearl Earring,526,4.218631
136145,Outlander,283,4.173145
233370,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
156102,Seabiscuit: An American Legend,275,4.098182
107962,Life of Pi,664,4.088855
176845,The Bean Trees,389,4.087404
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
8434,ANGELA'S ASHES,279,4.075269
76343,Good in Bed,490,4.055102
64931,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383
12700,American Gods,302,4.006623
161645,Skipping Christmas,322,4.006211
105777,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145
189551,"The Golden Compass (His Dark Materials, Book 1)",336,4.000000
181679,The Color Purple,314,3.964968
160336,Silence of the Lambs,256,3.960938
8752,About a Boy,262,3.900763
158138,Seven Up (A Stephanie Plum Novel),278,3.888489
175097,The Alchemist: A Fable About Following Your Dream,266,3.875940
80069,Hard Eight : A Stephanie Plum Novel (A Stephan...,269,3.825279
170101,Suzanne's Diary for Nicholas,457,3.820569
111073,Lord of the Flies,259,3.818533
5664,A Prayer for Owen Meany,413,3.796610
212070,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409
233851,White Oleander : A Novel (Oprah's Book Club),356,3.772472

In [39]:
popular=popular.merge(books,on='Book-Title').drop_duplicates('Book-Title').reset_index()[['Book-Title','Book-Author','Image-URL-M','num-of-rating','avg-rating']]

In [40]:
padhaku=ratings_with_name.groupby('User-ID').count()['Book-Rating']>100
padhaku=padhaku[padhaku].index

In [41]:
kaam_wale=ratings_with_name[ratings_with_name['User-ID'].isin(padhaku)]

In [42]:
filtered_rating=ratings_with_name[ratings_with_name['User-ID'].isin(padhaku)]

In [43]:
famous_books=filtered_rating.groupby('Book-Title').count()['Book-Rating']>=40

In [44]:
famous_books=famous_books[famous_books].index

In [45]:
final_ratings=filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

final_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,https://images.amazon.com/images/P/0446520802....,https://images.amazon.com/images/P/0446520802....,https://images.amazon.com/images/P/0446520802....
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,https://images.amazon.com/images/P/0446520802....,https://images.amazon.com/images/P/0446520802....,https://images.amazon.com/images/P/0446520802....
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,https://images.amazon.com/images/P/0446520802....,https://images.amazon.com/images/P/0446520802....,https://images.amazon.com/images/P/0446520802....
67,8253,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,https://images.amazon.com/images/P/0446520802....,https://images.amazon.com/images/P/0446520802....,https://images.amazon.com/images/P/0446520802....
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,https://images.amazon.com/images/P/0446520802....,https://images.amazon.com/images/P/0446520802....,https://images.amazon.com/images/P/0446520802....
...,...,...,...,...,...,...,...,...,...,...
1029756,274004,037572799X,0,In Pursuit of the Proper Sinner,Elizabeth George,2000,Random House Large Print Publishing,https://images.amazon.com/images/P/037572799X....,https://images.amazon.com/images/P/037572799X....,https://images.amazon.com/images/P/037572799X....
1029947,274061,1551663147,10,Fever,Elizabeth Lowell,1997,Mira,https://images.amazon.com/images/P/1551663147....,https://images.amazon.com/images/P/1551663147....,https://images.amazon.com/images/P/1551663147....
1030363,274808,0449701913,0,Homecoming,Cynthia Voigt,1983,Fawcett Books,https://images.amazon.com/images/P/0449701913....,https://images.amazon.com/images/P/0449701913....,https://images.amazon.com/images/P/0449701913....
1030824,275970,0865714215,0,Stormy Weather,Guy Dauncey,2001,New Society Publishers,https://images.amazon.com/images/P/0865714215....,https://images.amazon.com/images/P/0865714215....,https://images.amazon.com/images/P/0865714215....
1030868,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,https://images.amazon.com/images/P/1586210661....,https://images.amazon.com/images/P/1586210661....,https://images.amazon.com/images/P/1586210661....

In [46]:
pt=final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [47]:
pt.fillna(0,inplace=True)

In [48]:
pt

User-ID,254,507,882,1424,1435,1733,1903,2033,2110,2276,...,275020,275970,276463,276680,277427,277478,277639,278137,278188,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16 Lighthouse Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
from sklearn.metrics.pairwise import cosine_similarity

In [50]:
similarity_score=cosine_similarity(pt)

In [51]:
similarity_score[0]

array([1.        , 0.        , 0.        , ..., 0.        , 0.        ,
       0.04183134])

In [52]:
def recommend(book_name):
    # index fetch
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_score[index])),key=lambda x:x[1],reverse=True)[1:8]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    
    return data

In [53]:
import pickle

In [55]:
pickle.dump(popular.to_dict(),open('popular1.pkl','wb'))

In [36]:
pickle.dump(pt,open('pt1.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_score,open('similarity_score.pkl','wb'))

In [37]:
recommend("1984")

[['Animal Farm',
  'George Orwell',
  'https://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ['Waiting',
  'Frank M. Robinson',
  'https://images.amazon.com/images/P/0812541642.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'https://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ["Slaughterhouse Five or the Children's Crusade: A Duty Dance With Death",
  'Kurt Vonnegut',
  'https://images.amazon.com/images/P/0440180295.01.MZZZZZZZ.jpg'],
 ['Awakening',
  'Kate Chopin',
  'https://images.amazon.com/images/P/0380002450.01.MZZZZZZZ.jpg'],
 ["The Handmaid's Tale",
  'Margaret Atwood',
  'https://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['Roll of Thunder, Hear My Cry',
  'Mildred D. Taylor',
  'https://images.amazon.com/images/P/014034893X.01.MZZZZZZZ.jpg']]

In [38]:
pickle.dump(final_ratings.to_dict(),open('final_ratings.pkl','wb'))